body {
  background-color: aquamarine;
}

.product-service-container {
  margin: 10px;
  border: 1px solid black
}
/* CATEGORY/REVIEW */
.category-review-wrapper {
  display: flex;
  flex-direction: row;
}
/* CATEGORY */
.category-component {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

}
/* REVIEW */
.review-container {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  padding: 0px 5px;

}

/* NAME */
.name-component {
  font-size: 26px;
  font-family: "Guardian-EgypTT",serif;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 32px;


}

/* PRICE */
.price-component {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 500;
}



/* SELECTION */
.selection-component {
  display: flex;
  flex-direction: column;
}
.selection-label {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;

  margin: 5px 0px;
  padding: 0px
}
.selection-dropdown {
  transition: border-color 200ms ease-out,box-shadow 200ms ease-out;
  box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.15);
  display: block;
  font-family: inherit;
  font-size: 16px;
  height: 48px;
  padding-left: 12px;
  padding-right: 36px;
  width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  color: #222222;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;

}
.selection-button {
  backface-visibility:hidden;
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(34, 34, 34);
  background-image:none;
  background-origin:padding-box;
  background-position-x:0%;
  background-position-y:0%;
  background-repeat-x:;
  background-repeat-y:;
  background-size:auto;
  border-bottom-color:rgb(255, 255, 255);
  border-bottom-left-radius:24px;
  border-bottom-right-radius:24px;
  border-bottom-style:none;
  border-bottom-width:0px;
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-left-color:rgb(255, 255, 255);
  border-left-style:none;
  border-left-width:0px;
  border-right-color:rgb(255, 255, 255);
  border-right-style:none;
  border-right-width:0px;
  border-top-color:rgb(255, 255, 255);
  border-top-left-radius:24px;
  border-top-right-radius:24px;
  border-top-style:none;
  border-top-width:0px;
  box-sizing:border-box;
  content:"";
  display:block;
  height:48px;
  left:0px;
  top:0px;
  transform:matrix(1, 1.74533e-06, -1.74533e-06, 1, 0, 0);
  transition-delay:0s, 0s, 0s;
  transition-duration:0.2s, 0.15s, 0.2s;
  transition-property:transform, background, box-shadow;
  transition-timing-function:cubic-bezier(0.345, 0.115, 0.135, 1.42), ease-out, ease-out;
  width:357.75px;
  z-index:-1;
  color: white;

  margin: 10px 0px
}


/* DISTRIBUTION */

.delivery-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px
}
.remaining-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px
}
.icon {
  font-size: 28px
}
.distribution-text {
  padding: 0px 10px;
}